.btn {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 30px;
    font-weight: bold;

    &.btn-primary {
        background-color:#cc2c2c;
    }

    &.btn-default {
        background-color: #605d5d;
    }

    &:first-of-type {
        margin-right: 20px;
    }
    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}