@import '../abstracts/variables.scss';
.super-hero-detail {
    .previous-link {
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        .icon {
            width: 1.2rem;
            height: 1.2rem;
        }

        p {
            margin-bottom: 4px;
        }
    }
    .super-hero-detail-section {
        margin: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 12px;

        .super-hero--image {
            padding: 10px;

            @media screen and (max-width: 767px) {
                display: flex;
                justify-content: center;
            }

            img {
                width: 80%;

                @media screen and (max-width: 767px) {
                    width: 50%;
                }
            }
        }

        .super-hero--content {
            padding: 20px;
            
            .title {
                @media screen and (max-width: 767px) {
                    text-align: center;
                }
            }

            .col-title {
                padding: 5px 10px 0 0;
                font-weight: bolder;
                text-transform: capitalize;
            }
        }
    }
}