@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';
.super-hero-box-section {
    margin-bottom: 2rem;

    .message-error {
        width: 100%;
    }

    .super-hero-box {
        background-color: rgba($color-white, .8);
        font-size: 1.5rem;
        text-align: center;
        border-radius: 3%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        transition: transform .3s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    
        &__icon {
            position: absolute;
            right: 1rem;
            top: -1px;
            padding: 3px;
            background: #ffff;
            cursor: auto;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 50% 85%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 50% 85%, 0% 100%);

            .icon {
                cursor: pointer;
            }
        }

        .super-hero-box__image {
            width: 100%;
            min-height: 20em;
        }

        .super-hero-tertiary {
            padding: 1rem;
            color: red;
        }
    
        &:hover {
            // transform: translateY(-0.5rem);
            box-shadow: 2px 2px 2px 2px #888888;
        }
    }
}