@import '../abstracts/variables.scss';
.create-new-page {
    width: 50%;
    margin: auto;

    @media screen and (max-width: 767px) {
        width: 90%;
    }

    .title {
        text-transform: uppercase;
    }

    .button-section {
        padding: 15px 0;
    }
}